backups/tests/node_modules
backups/lambda/node_modules

watcher-lambdas/lib
watcher-lambdas/lib64
watcher-lambdas/__pycache__
community-lambdas/node_modules

watcher-lambdas/_pycache__/
watcher-lambdas/*.py[cod]
watcher-lambdas/*$py.class

# C extensions
*.so
 
# Distribution / packaging
watcher-lambdas/.Python
watcher-lambdas/build/
watcher-lambdas/develop-eggs/
watcher-lambdas/dist/
watcher-lambdas/downloads/
watcher-lambdas/eggs/
watcher-lambdas/.eggs/
watcher-lambdas/lib/
watcher-lambdas/lib64/
watcher-lambdas/parts/
watcher-lambdas/sdist/
watcher-lambdas/var/
watcher-lambdas/wheels/
watcher-lambdas/pip-wheel-metadata/
watcher-lambdas/share/python-wheels/
watcher-lambdas/*.egg-info/
watcher-lambdas/.installed.cfg
watcher-lambdas/*.egg
watcher-lambdas/MANIFEST
community-images/**/tmp
community-images/**/tmp2